:root{
    --main-color : #0E1212;
    --second-color : #686571;
    --accent-color : #5918df;
    --text-color : #656666;
    --subtitle-color: #D489FF;
    --title-color: #DBDBDB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    font-family: inherit;
}

body{
    background-color: var(--main-color);
    color: var(--text-color);
}

.navbar{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    max-width: 80rem;
}

.Dnavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    max-width: 80rem;
    margin: 0 auto;
}

.navbar li{
    display: flex;
    text-decoration: none;
    list-style: none;
    color: var(--text-color) !important;
    padding: 10px 15px;
}

a{
    color: var(--text-color);
    padding: 10px 15px;
    top: 2px;
}

.navbar li svg{
    display: flex;
    flex-direction: row;
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--accent-color);
    position: relative;
    top: 2px;
    transition: fill .4s ease-out;
}

.navbar li svg:hover{
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--title-color);
    position: relative;
    top: 2px;
    transition: fill .4s ease-out;
}

.navbar li a:hover{
    list-style: none;
    color: var(--accent-color   );
    top: 2px;
    transition: color .4s ease-out;
    padding: 10px 15px;
}

.act a{
    text-decoration: none;
    color: var(--accent-color);
}
#accueil{
    margin: 0 25vw;
    padding: calc(50vh - 3.5rem) 0 0;
    background-color: var(--second-color);
}
