:root{
    --main-color : #0E1212;
    --second-color : #686571;
    --accent-color : #5918DF;
    --text-color : #656666;
    --subtitle-color: #D489FF;
    --title-color: #DBDBDB;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--main-color);
    color: var(--text-color);
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#navbar li {
    list-style: none;
    color: var(--text-color);
    padding: 10px 15px;
}

#navbar li svg{
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--accent-color);
    position: relative;
    top: 2px;
    transition: fill .4s ease-out;
}

#navbar li svg:hover{
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--title-color);
    position: relative;
    top: 2px;
    transition: fill .4s ease-out;
}

#navbar li:hover{
    list-style: none;
    color: var(--subtitle-color);
    padding: 10px 15px;
}

#accueil{
    margin: 0 25vw;
    padding: calc(50vh - 3.5rem) 0 0;
    background-color: blueviolet;
}